<div class=padded-booking>
  <h1 class="text-center "> <strong>Final step ! </strong> </h1>
  <h3 class="text-center"> <strong>Finalize</strong> your booking with Super-Nanny : <strong><span class="rose"><%=@annonce.name%></span></strong>!
   </h3>
<div class="container padded-booking">
 <div class="row">
   <div class="col-xs-12 col-sm-6 col-sm-offset-3">
     <%= simple_form_for [ @booking] do |f| %>
       <%= f.input :message, placeholder: "Precise any pieces of information you think are important " %>
       <%= f.input :start_at %>
       <%= f.input :finish_at %>
       <%= f.submit "Send your reservation", class: "btn btn-primary" %>
     <% end %>
   </div>
 </div>
</div>






