
    <div class=padded-booking>
      <h1 class="text-center "> <strong>Congratulations !</strong> </h1>
      <h3 class="text-center"> Your reservation has been sent to <strong><span class="rose"><%=@booking.annonce.name %></span></strong>
       successfuly !</h3>


      <div class="text-center marg backgr">
        <h4> <strong>Here are your reservation informations </strong> </h4>
        <p> <strong>Your message :</strong> <%=@booking.message%></p>
        <p> <strong>Your reservation duration is : </strong> <%=@hours%> heure(s)</p>
        <p> <strong>You will pay :</strong> <%=@total_price%>€</p>
        </br>
      </div>
      <p class="text-center" > <strong><span class="rose"><%=@booking.annonce.name %></span></strong> will validate your reservation as soon as possible !</p>
    </div>

<div>
  <iframe src="//giphy.com/embed/10Tp6ITdMr7ZMQ" width="480" height="372" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/kirk-nieuwenhuis-congrats-to-him-on-making-mets-history-im-so-shocked-but-not-10Tp6ITdMr7ZMQ">via GIPHY</a></p>
</div>
</div>



