<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <%= form_for @annonce do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: "Margot Fulconis", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :adresse %>
          <%= f.text_field :adresse, placeholder: "4 Villa Gaudelet", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :city %>
          <%= f.text_field :city, placeholder: "Paris", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_field :description, placeholder: "Jeune Nounou aux formes avantageuses, je garde les jeunes papas", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :child_number %>
          <%= f.text_field :child_number, placeholder: "4", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :price %>
          <%= f.text_field :price, placeholder: "20€/h", class: "form-control" %>
        </div>

        <div class="form-group">
        <%= f.label :picture %>
        <%= f.file_field :picture, class: "form-control"  %>
        </div>
        <%= f.submit "Enregistrer l'annonce", class: "btn btn-primary" %>

      <% end %>

    </div>

  </div>
</div>


