  <div class="banner text-center" style="background-image: url('<%= image_path "Home_page" %>')">
  <div class="banner-gradient"></div>
  <div class="banner-content padded">
    <h1>My Social Workplace</h1>
    <p>Trouvez un espace de travail abordable pour votre social business</p
    <%= link_to t("btn btn-primary btn-lg", default: "propose my services"), new_annonce_path(),  class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>
</div
<div class ="padded-home">
  <div class = "text-center padded">
   <h2>Trouvez un espace de travail</h2>
  </div>
  <div class="container padded-bottom">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h4>Travaillez au sein d'une entreprise et profitez de potentielles synergies</h4>
        <%= form_tag(annonces_path, method: :get) do %>
          <div class="form-group sm-padded">
            <%= label_tag :ville %>
            <%= text_field_tag :city, nil, placeholder: "Ville", class: "form-control" %>
          </div>
          <div class="form-group sm-padded">
            <%= label_tag :date %>
            <%= text_field_tag :date, nil, placeholder: "DD/MM/YYYY", class: "form-control" %>
          </div>
          <div class="form-group sm-padded">
            <%= label_tag :durée %>
            <%= text_field_tag :durée, nil, placeholder: "Horaires", class: "form-control" %>
          </div>
          <div class="form-group sm-padded">
            <%= label_tag :capacité %>
            <%= text_field_tag :capacité, nil, placeholder: "Capacité d'accueil", class: "form-control" %>
          </div>

       <%= submit_tag "Search", class: "btn btn-primary btn-marged btn-radius" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
