<div class="text-center">
  <h1> Here is you announce</h1>

  <h1><%= @annonce.name %></h1>
  <p><%= @annonce.adresse %></p>
  <p><%= @annonce.price %></p>
  <p><%= @annonce.child_number %></p>
  <p><%= @annonce.description %></p>

  <p><%= link_to "Back to homepage", root_path %></p>

</div>





