<div class="paddingduh1 paddingtop">
  <h1>Here is the announce of <strong><%= @annonce.name %></strong></h1>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-6">
          <%= image_tag @annonce.picture.url(:medium, class: "img_show") %>
        </div>

        <div class="col-xs-6">
          <div class=" ">
            <h2><%= @annonce.name %></h2>
            <p>Addres : <%= @annonce.adresse %></p>
            <p>City : <%= @annonce.city %></p>
            <p>Price : <%= @annonce.price %>€/hour</p>
            <p>Capacity : <%= @annonce.child_number %> children</p>
          </div>
        </div>
       </div>
      <div class="row">

        <div class="col-xs-12">
          <p>More info : <%= @annonce.description %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12  paddbtn">
          <p><%= link_to "Book it", new_annonce_booking_path(@annonce), class: "btn btn-primary"%></p>
          <p><%= link_to "Back to homepage", root_path, class: "btn btn-primary" %></p>
          <%= link_to "Delete", annonce_path(@annonce), method: :delete, class: "btn btn-danger" %>
        </div>
      </div>
    </div>


    <div class="col-xs-6">
      <div class="">
        <div id="map" style="width: 100%; height: 600px;"></div>
        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).on('ready', function() {
              handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function(){
                markers = handler.addMarkers(<%= raw @markers.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
              });
            })
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>















