<div class="text-center">
  <h1> Here is you announce</h1>

  <h1><%= @annonce.name %></h1>
  <p>Addres : <%= @annonce.adresse %></p>
  <p>City : <%= @annonce.city %></p>
  <p>Price : <%= @annonce.price %>€/hour</p>
  <p>Capacity : <%= @annonce.child_number %> children</p>
  <p>More info : <%= @annonce.description %></p>
  <p><%= link_to "Book it", new_annonce_booking_path(@annonce) %></p>
  <p><%= link_to "Back to homepage", root_path %></p>
  <%= image_tag @annonce.picture.url(:medium) %>


  <%= link_to "Delete", annonce_path(@annonce), method: :delete, class: "btn btn-danger" %>

</div>

<div>
<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
</div>



