<h1> Here is your reservation information</h1>
<h1><%= @annonce.name %></h1>
  <p>Addres : <%= @annonce.adresse %></p>
  <p>City : <%= @annonce.city %></p>
  <p>Price : <%= @annonce.price %>€/hour</p>
  <p>Capacity : <%= @annonce.child_number %> children</p>
  <p>More info : <%= @annonce.description %></p>
